.Todo {
  text-align: center;
}

.Todo-logo {
  animation: Todo-logo-spin infinite 20s linear;
  height: 80px;
}

.Todo-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Todo-title {
  font-size: 1.5em;
}

.Todo-intro {
  font-size: large;
}

@keyframes Todo-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
